ExifRead
Flask-SQLAlchemy
Flask
HTMLParser
Pillow
PyAudio
PyAutoGUI
PyPDF
SpeechRecognition
beautifulsoup
certifi
chardet
chromedriver-binary
click
cycler
dnspython
emoji
ffmpeg
ffpyplayer
gTTS
gensim
geopy
googletrans
idna
img2pdf
jupyterlab
kiwisolver
lxml
matplotlib
nltk
notebook
numpy
opencv-python
pandas
pathlib
proxytest
psutil
py-notifier
pycryptodome
pyparsing
python-dateutil
pytz
requests
selenium
six
soupsieve
sumeval
sumy
tensorflow
tqdm
tweepy
urllib3
utils
webdriver-manager
wget
wikipedia
win10toast
wordcloud
xmltodict
